<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center">
    <h3>Your Profile Information</h3>
  </div>
  <div *ngIf="user; else other_content">
    <ion-row
      ><ion-col size="6"> <img [src]="user.picture.data.url" /> </ion-col
    ></ion-row>
    <ion-row><p>Name: {{user.name}}</p></ion-row>
    <ion-row><p>Email: {{user.email}}</p></ion-row>
    <ion-row><p>Birthday: {{user.birthday}}</p></ion-row>
  </div>
  <ng-template #other_content>
    <p>No user information</p>
  </ng-template>
</ion-content>
